<section class="box is-2">
  <h3 class="title has-text-centered is-primary">
   Contact details
  </h3>
  <div class="section has-text-justified is-size-5">
  Tel: +353 021 456 782 <br>
  Email: contact@bundle.com    
  </div>
  <div class = "section">
            <a class="ui basic blue button" href="https://glitch.com/edit/#!/remix/bundle-store">
           <i class="fork icon"></i> 
  </div>
</section>