<section class="box is-3 has-text-centered">
  <h3 class="title">
   About this playlist
  </h3>
  <div class="section">
  This is a playlist application. You can create a playlist, then add your favourite songs to it. 
    
  </div>
</section>